body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color:#192032;
	color:#fbfbfb
	font-family: 'Raleway', sans-serif;
  }
  
  header {
	background-color: #333;
	color:#C0c0c0;
	padding: 20px; 
	font-family: 'Orbitron', sans-serif;
  }
  
  .space {
	color: white;
	text-shadow: 2px 2px 4px #000000;
  }
  
  .container {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
  }
  
  .main {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
  }
  
  .sidebar {
	flex: 1;
	max-width: 300px;
	padding: 20px;
	background-color: #c0c0c0;
	color: #192032;
  }
  
  .photo-container {
	flex: 2;
  }
  
  .all-photos {
	max-width: 800px;
	padding: 20px;
	background-color: #fff;
	text-align: center;
  }
  
  .photo {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
  }
  
  .photo li {
	flex: 1 0 25%;
	margin: 10px;
  }
  
  .search-title {
	margin-top: 0;
  }
  
  #search-form {
	margin-top: 20px;
  }
  .search-button {
	background-color:#7846D1;
	color:#fff;
	border:0;
	padding:10px 20px;
	
  }

  form {
	display: flex;
	flex-wrap: wrap;
  }
  
  label {
	flex: 1;
  }
  
  input[type="search"] {
	flex: 2;
  }
  
  input[type="submit"] {
	flex: 1;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }